<%= form_with model: @comment, class:"row" do |f| %>
  <div class="comment-field col-12 m-auto">
    <%= f.text_field :content, id:"submit-comment", class: 'col-12 py-3 border-0', placeholder: 'Post a comment...'  %>
    <%= f.hidden_field :post_id, value: post_id%>
  </div>
  <!-- <div class="actions text-right col-2">
    <%= f.submit "Comment", class:"btn submit w-25 mb-0" %>
  </div> -->
<% end %>