<div class="col-7 row mx-auto my-5 pt-5">
  <div class="col-7 p-5 bg-purp rounded-left d-flex flex-column justify-content-between">
  <div class='row d-flex justify-content-center col-8 mx-auto'>
    <%= image_tag 'logo', class: 'col-12 logo align-self-center'%>
    <h2 class="text-white text-center mb-3 col-12">Welcome to your app</h2>
  </div>
  <p class="text-white text-center mb-5">Sign in to access the system</p>
  <p class="text-white text-center">www.yourapp.com</p>
</div>