<h2 class="text-center my-5">Pending requests</h2>
<ul class="users-list col-8 m-auto">
    <% if @pending_requests.empty? %>
        <div class="f-card">
        <p class = "text-center font-weight-bold red">You have no pending requests</p>
        </div>    
    <% else %>
        <% @pending_requests.each do |user | %>
        <li class='user-info col-12 card'>
            <div class="row col-9 mx-auto my-5 d-flex justify-content-center">
                <div class='col-7 row'>
                    <div class="col-5"> <%= image_tag user.gravatar_url %> </div>
                    <p class="col-7"><%= link_to user.username, user_path(user.id) %></p>
                </div>
            </div>
        </li>
        <% end %>
    <% end %>
</ul>