<%= render 'shared/login' %>
<div class="col-5 bg-white px-4 py-4 border border-white rounded-right">
  <h2>Sign In</h2><br>  
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|%>
    <div class="mb-3">
      <%= f.label :email, class:'text-secondary'%><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field col-12" %>
    </div>
    <div class="mb-3">
      <%= f.label :password, class:'text-secondary' %><br />
      <%= f.password_field :password, autocomplete: "current-password", class: "field col-12" %>
    </div>
    <% if devise_mapping.rememberable? %>
      <div class="mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class:'text-secondary' %>
      </div>
    <% end %>
    <div class="actions py-1">
      <%= f.submit "Log in", class: 'btn submit' %>
      <%= render "devise/shared/links" %>
    </div>
  <% end %>
</div>
