<div class="col-6 mx-auto mb-5 bg-white post p-3">
  <%= form_with model: @post do |f| %>
    <div class="">
      <%= f.text_area :content, placeholder: "Post something...", class: 'col-12 text-area'  %>
    </div>
    <div class="actions text-right">
      <%= f.submit "Post", class:"btn submit w-25" %>
    </div>
  <% end %>
</div>
