<h1 class='m-auto text-center'>Newsfeed</h1>
<%= render 'create' %>

  <ul class="posts-list"> 
    <% @posts.each do |post|%> 
      <li >
        <%= render 'posts' %>
      </li>
    <% end %>
  </ul>
