/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap
 *= require_tree . 
 *= require_self
 */

@import 'bootstrap/dist/css/bootstrap';
@import "posts";
@import "login";
@import "font-awesome";

ul li {
  list-style-type: none;
}

.text-area {
  height: auto;
}

.user-comment {
  color: blue;
}

.red {
  color: red;
}

.bg-app {
  background-color: rgba(240, 193, 255, 0.7);
}

.navbar {
  background-color: rgb(73, 1, 109);
  color: white;
}

.nav-link {
  color: white;

  &:hover {
    color: rgb(255, 146, 255);
  }
}
